<div class="md:w-2/5">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-start gap-5 items-center">
    <h1 class="font-bold text-4xl">Projects</h1>
    <%= link_to "New project", new_project_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <% content_for :title, "Projects" %>
  <%= turbo_stream_from "projects" %>
  <%= turbo_frame_tag "project_form" do %>
    <%= render 'form', project: @project %>
  <% end %>

  <%= turbo_frame_tag "projects" do %>
    <%= render @projects %>
  <% end %>
</div>
